# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Tools
.ruff_cache/
.mypy_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
